{% extends "base.html" %}

{% block title %}Prescriptions{% endblock %}

{% block content %}

<h2 class="mb-4">

Prescription Records

</h2>

<div class="card shadow">

<div class="card-body">

<table class="table table-hover">

<thead class="table-success">

<tr>

<th>#</th>

<th>Patient</th>

<th>Doctor</th>

<th>Date</th>

<th>Diagnosis</th>

<th>Action</th>

</tr>

</thead>

<tbody>

{% for prescription in prescriptions %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ prescription.patient.user.get_full_name }}</td>

<td>Dr. {{ prescription.doctor.user.get_full_name }}</td>

<td>{{ prescription.created_at|date:"d M Y" }}</td>

<td>{{ prescription.diagnosis }}</td>

<td>

<a href="{% url 'prescriptions:prescription_detail' prescription.pk %}"

class="btn btn-primary btn-sm">

View

</a>

</td>

</tr>

{% empty %}

<tr>

<td colspan="6" class="text-center">

No prescriptions found.

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}