{% extends "base.html" %}

{% block title %}Doctor Details{% endblock %}

{% block content %}

<div class="card shadow">

<div class="card-body">

<div class="row">

<div class="col-md-4 text-center">

{% if doctor.image %}
<img src="{{ doctor.image.url }}" class="rounded-circle img-fluid">
{% else %}
<i class="bi bi-person-circle display-1"></i>
{% endif %}

</div>

<div class="col-md-8">

<h2>Dr. {{ doctor.user.get_full_name }}</h2>

<hr>

<table class="table">

<tr>
<th>Specialization</th>
<td>{{ doctor.specialization }}</td>
</tr>

<tr>
<th>Qualification</th>
<td>{{ doctor.qualification }}</td>
</tr>

<tr>
<th>Experience</th>
<td>{{ doctor.experience }} Years</td>
</tr>

<tr>
<th>Consultation Fee</th>
<td>₹{{ doctor.consultation_fee }}</td>
</tr>

<tr>
<th>Email</th>
<td>{{ doctor.user.email }}</td>
</tr>

<tr>
<th>Phone</th>
<td>{{ doctor.phone }}</td>
</tr>

<tr>
<th>Rating</th>
<td>{{ doctor.rating }}/5</td>
</tr>

</table>

<a href="{% url 'appointments:book_appointment_form' doctor.pk %}"
   class="btn btn-success">
    Book Appointment
</a>

</div>

</div>

</div>

</div>

{% endblock %}